<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/default_layout">

<th:block layout:fagment="head" th:include="@{/common/head}">
</th:block>

<div layout:fragment="content" class="content">
    <input type="hidden" id="pageNo" th:value="${pageNo}" />
    <div class="container">
        <h1 class="page-header">게시판 목록</h1>
        <div class="text-right">
            <a href="/ts" class="btn btn-primary">TS 페이지</a>
        </div>
        <br>
        <div class="input-group">
            <input type="text" id="searchVal" onkeyup="enterkey()" class="form-control" placeholder="Search" th:value="${searchVal}">
            <div class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="search()">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
        <br />

        <form>
            <table class="table table-hover">
                <colgroup>
                    <col width="10%" />
                    <col width="50%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="10%" />
                </colgroup>
                <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>날짜</th>
                    <th>조회수</th>
                </tr>
                </thead>
                <tbody>
                    <tr th:if="${totalPage == 0}">
                        <td colspan="5" style="text-align:center">조회된 리스트가 없습니다.</td>
                    </tr>

                    <tr th:each="list, index : ${board}">
                        <td th:text="${resultDataTotal - (size * number) - index.index}"></td>
                        <td><a th:text="${list.boardTitle}" th:href="@{/board/detail/} + ${list.boardIdx}"></a></td>
                        <td th:text="${list.regId}"></td>
                        <td th:text="${#temporals.format(list.regDate, 'yyyy-MM-dd')}"></td>
                        <td th:text="${list.viewCount}"></td>
                    </tr>
                </tbody>
            </table>

            <div class="text-right">
                <a href="/board/edit" class="btn btn-primary">글쓰기</a>
            </div>

            <div th:if="${totalPage != 0}" class="text-center">
                <ul class="pagination">
                    <li th:each="page : ${#numbers.sequence(0, totalPage - 1)}">
                        <a th:classappend="${pageStat.index == pageNo} ? on" th:href="@{/(page=${pageStat.index}, searchVal=${searchVal})}" th:text="${pageStat.index + 1}"></a>
                    </li>
                </ul>
            </div>
        </form>
    </div>
</div>
</html>

<script th:inline="javascript">

    //검색기능
    function search(){
        let searchVal = $.trim($("#searchVal").val());
        location.href="/?searchVal="+searchVal;
    }

    //엔터키 클릭시 검색
    function enterkey() {
        if (window.event.keyCode == 13) {
            // 엔터키가 눌렸을 때
            search()
        }
    }

</script>